<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weitingco.leehsuan.signaltracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />
    <uses-permission android:name = "android.permission.WAKE_LOCK"/>
	<uses-permission android:name = "android.permission.READ_PHONE_STATE"/>
    <!-- Permission for using MAP -->
    <permission 
        android:name="com.bignerdranch.android.runtracker.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission 
        android:name="com.bignerdranch.android.runtracker.permission.MAPS_RECEIVE"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission 
        android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:required="true"
        android:name="android.hardware.location.gps"/>
    <uses-feature android:required="true"
        android:glEsVersion="0x00020000"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ProviderListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
	    	android:name=".ProviderActivity"
        	android:label="@string/app_name">
    	</activity>
    	<activity
    	    android:name=".ProviderMapActivity"
    	    android:label="@string/app_name">
    	    
    	</activity>
    	<receiver android:name=".TrackingLocationReceiver"
            android:exported="false">
            <intent-filter >
                <action android:name="com.weitingco.leehsuan.signaltracker.ACTION_LOCATION"/>
            </intent-filter>
        </receiver>
        <meta-data 
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDZ4wXdYkbR6fkzO7_is6XTaPMVGeI3CPA"/>
        <meta-data android:name="com.google.android.gms.version"
      		android:value="@integer/google_play_services_version" />
    </application>
	
</manifest>
